/* =============
    Demo
============= */
#demo{
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". demo .";

    @include md{
        grid-template-columns: auto 80% auto;   
    }

    @include lg{
        grid-template-columns: auto 50% auto;
    }

    >div{
        grid-area: demo;
        border: 3px solid aqua;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;        

        svg{
            border: 3px solid #000;
            // width: 100%;
        }
    }
}
