#text{
    
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(32);
        font-weight: 400;
        margin-left: 10%;
        color: cadetblue;
    
   
        display: grid;
        grid-template-columns: auto 4% auto;
        grid-template-areas: ". Ltext .";
    
        @include md{
            grid-template-columns: auto 4% auto;   
        }
    
        @include lg{
            grid-template-columns: auto 4% auto;
        }
    
        grid-area: Ltext;
        text-align: right;
        justify-content: center;
        align-content: flex-start;
         }
    